h1 {
    color: #29B1DD;
    margin: 10px 0 0 10px;
}

nav {
    background-color: #29B1DD;
    text-align: center;
    line-height: 50px;
}

h3 {
    color: white;
    display: inline;
}

section {
    background-color: #DDDDDD;
    height: calc(100vh - 88.33px);
}

.card {
    padding: 25px 0;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
}

.animal {
    color: blue;
}

.vegetable {
    color: orange;
}

.user {
    color: purple;
}